.input {
    margin-bottom: 5px;
    border-radius: 5px;
    padding-left: 10px;
    height: 40px;
    border: 1px solid rgba(67, 60, 60, 0.197);
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: #f8f9fa ;
    outline: none;
}

.label {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
}

.div {
    display: flex;
    flex-direction: column;
}
.input:focus{
    border: 1px solid red;
}