*{
  padding: 0;    
  margin: 0;
  box-sizing: border-box;
}

.pink_100 {
    color : #F7D6E6;
}

.bg_pink_100 {
    background-color : #F7D6E6;
}

.pink_200 {
    color: #EFADCE;
}

.bg_pink_200 {
    background-color: #EFADCE;
}